
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pi-hole Admin Console</title>
    <link href="static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header clearfix">
            {#<nav>#}
                {#<ul class="nav nav-pills pull-right">#}
                    {#<li role="presentation" class="active"><a href="#">Home</a></li>#}
                    {#<li role="presentation"><a href="#">About</a></li>#}
                {#</ul>#}
            {#</nav>#}
            <h3 class="text-muted"><img class="head" src="img/pihole-160x160.jpg" alt="logo">Pi Hole</h3>
        </div>

        {% block body %}{% endblock %}

        <footer class="footer">
            <p><strong>Pi-Hole</strong> Version {{ version }} <strong>Web Interface</strong> Version {{ web }}</p>
        </footer>

    </div>

</body>
</html>
