{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <p class="stat">{{ stats.ads_blocked_today|number_format }}</p>
                <p>Ads Blocked Today</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert">
                <p class="stat">{{ stats.domains_being_blocked|number_format }}</p>
                <p>Domains Being Blocked</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                <p class="stat">{{ stats.dns_queries_today|number_format }}</p>
                <p>DNS Queries Today</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning" role="alert">
                <p class="stat">{{ stats.ads_percentage_today|number_format(2, '.', '')~'%' }}</p>
                <p>Of Today's Traffic Is Ads</p>
            </div>
        </div>
    </div>
{% endblock %}
